<div class="container">
    <div class="mt-3">
        <h4 class="mb-3">Crud Operation</h4>
        <form class="needs-validation" novalidate="">
            <div class="col-md-4">
                <div class="mb-4">
                    <label for="firstName">Add content</label>
                    <input type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit"> Add Data </button>
            </div>
        </form>
      </div>
      <div class="listing">
          <ul>
              <li><span>S.No</span> <span> Description </span> <span> Actions</span></li>
              <li>
                  <span>1</span>
                  <span>Data cpmes here</span> 
                  <span class="actionBx"> <button> Add </button> <button> Delete </button> <button> Edit </button> </span></li>
          </ul>
      </div>
    
  </div>