<div class="container">
    <div class="mt-3">
        <h4 class="mb-3">Crud Operation</h4>
        <form class="needs-validation" novalidate="">
            <div class="col-md-4">
                <div class="mb-4">
                    <label for="firstName">Add content</label>
                    <input type="text" class="form-control" id="firstName" [(ngModel)]="inputData" name="inputData">
                    <div class="invalid-feedback">
                      Valid first name is required.
                    </div>
                  </div>
                  {{inputData}}
              <button class="btn btn-primary btn-lg btn-block" type="button" (click)="addData()" *ngIf="currentIndex == -1"> Add Data  </button>
              <button class="btn btn-primary btn-lg btn-block" type="button" (click)="update()" *ngIf="currentIndex !== -1"> Update Data  </button>
              
            </div>
        </form>
      </div>
      <div class="listing">
          <ul>
              <li><span>S.No</span> <span> Description </span> <span> Actions</span></li>
              <li *ngFor="let list of dataList; index as i">
                  <span>{{i+1}}</span>
                  <span>{{list}}</span> 
                  <span class="actionBx">
                      <button (click)="remove(i)"> Delete </button> 
                      <button (click)="edit(i)"> Edit </button> </span>
               </li>
               <li *ngIf="dataList.length == 0"> No data</li>
          </ul>
      </div>
    
  </div>